/* Header */
header {
	border-bottom: 1px solid #000000;
}

nav {
	max-width: 1200px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav > ul {
	padding: 0;
	display: flex;
	list-style: none;
}

.nav__logo {
	font-size: 1.5rem;
	font-weight: 600;
	color: #000000;
	text-decoration: none;
}

.nav__link {
	margin-left: 1.5rem;
	color: #000000;
	text-decoration: none;
}

.nav__link--active {
	font-weight: 600;
}

/* Main */
main {
	max-width: 1248px;
	min-height: calc(100vh - 8rem);
	margin: 0 auto;
	padding: 1.5rem;
}

.article__img {
	width: 100%;
}

main > aside {
	margin-top: 3rem;
}

main:after {
	content: '';
	display: table;
	clear: both;
}

/* Footer */
footer {
	border-top: 1px solid #000000;
}

footer p {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

header,
footer {
	height: 4rem;
	padding: 0 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media only screen and (min-width: 720px) {
	main > article {
		width: calc(100% - 320px);
		padding-right: 1.5rem;
		float: left;
	}

	main > aside {
		width: 320px;
		margin-top: 0;
		padding-left: 1.5rem;
		float: right;
	}
}